body {
  background-color:grey;
}
h1 {
  color: orange;
  background-color: green;
  text-align: center;
  font-size: 100px;
}
.first-paragraph {
  color: grey;
  font-size: small;
}
.Mot {
  color: coral;
  font-style: italic;
}
.Hai {
  color: aquamarine;
}
.shared-class {
  font-size: 100px;
}
#orange {
  font-weight: bold;
}
.body-bg {
  color: pink;
}
.navigation {
  color: yellow;
  background-color: red;
}
.text {
  background-color: blue;
  display: inline;
}
